server/yarn.lock
server/package-lock.json
server/node_modules/*
server/run.sh

client/my-app/yarn.lock
client/my-app/package-lock.json
client/my-app/node_modules/*
client/my-app/build/*

*/.DS_Store
.DS_Store