/* ---------------------------------------------------------------------------------------- */


div .tile {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: beige;
    text-align: center;
    vertical-align: middle;
    border: 1px solid burlywood;    /* in sync with .wordComponent and .letter border */
}

div .letter {
    position: absolute;
    border: 2px solid burlywood;    /* in sync with .wordComponent and .tile border */
}

div .shown {
    z-index: 1;
    background-color: rgb(100, 255, 108);
}

/* ---------------------------------------------------------------------------------------- */


#titleBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#idLabel {
    font-size: 24px;
}

#turnTime {
    font-size: 24px;
}

/* ---------------------------------------------------------------------------------------- */


body {
    margin: 0px;
}

div #container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

div #allBoardContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

div #letterBoard {
    height: 600px;
    width: 600px;
    background-color: rgb(104, 104, 104);
    position: relative;
}

div #playerBoardContainer {
    height: 600px;
    width: 600px;
    border-color: sandybrown;
    border-style: solid;
    border-width: 2px;                      /* top right left bottom, in sync with .playerBoard border-width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

div #defBoard {
    height: 600px;
    width: 300px;
    background-color: beige;
    padding: 10px;
    box-sizing: border-box;
}

/* ---------------------------------------------------------------------------------------- */


.playerBoard {
    background-color: gold;
    border-color: sandybrown;
    border-style: solid;
    border-width: 2px;                      /* top right left bottom, in sync with #playerBoardContainer border-width */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-grow: 1;
    padding: 5px;                           /* in sync with .wordComponent margin */
}


div .playerBoardLabel {
    width: 100%;
}

div .wordComponent {
    display: flex;
    flex-direction: row;
    margin: 5px;                           /* in sync with .playerBoard padding */
    border: 1px solid burlywood;        /* in sync with .letter and .tile border */
}

/* ---------------------------------------------------------------------------------------- */


#wordInput {
    font-size: 20px;
}

#wordSubmitButton {
    background-color: burlywood;
}

#restartButton {
    background-color: tomato;
}


/* ---------------------------------------------------------------------------------------- */

.myBoard {
    background-color: violet;
}

.curTurn {
    font-weight: bold;
}

.gaveInvalidWord {
    background-color: tomato;
}

.gaveValidWord {
    background-color: yellowgreen;
}

.disconnected {
    background-color: rgb(170, 170, 170);
}


/* ---------------------------------------------------------------------------------------- */

#headword {
    font-size: 24px;
}

#shortDefList {
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#canChallenge {
    font-size: 20px;
    background-color: rgb(255, 170, 170);
}

#challenged {
    font-size: 20px;
    background-color: rgb(163, 163, 163);
}

#canDiscard {
    font-size: 20px;
    background-color: rgb(244, 119, 255);
}

#discarded {
    font-size: 20px;
    background-color: coral;
}

#playersChallengingText {
    font-size: 16px;
    color: red;
}